<% coupons.each do |coupon| %>
  <div class="card">
    <%= render 'svg', content: format_coupon(coupon) %>
    <div class="card-body">
      <hgroup>
        <h5 class="card-title"><%= format_coupon(coupon) %></h5>
        <h6><%= t :coupon_series %>: <%= format_coupon_series(coupon) %></h6>
        <h6><%= t :coupon_number %>: <%= format_coupon_number(coupon) %></h6>
      </hgroup>
      <p class="card-text">
        <dl>
          <dt><%= t :associated_at %></dt>
          <dd> <%= l coupon.order.created_at, format: :short %> </dd>
          <dt><%= t :order_number %></dt>
          <dd><%= coupon.order.number %></dd>
        </dl>
      </p>
    </div>
  </div>
<% end %>
