<div class="header">
  <img src='<%= ENV['DEFAULT_MAILER_URL']+'coupon_header.jpg' %>'  , style: 'width: 600px; height: auto;' >
</div>
<div class="bg-pink" style="padding: 1em 0 0 0;">
  <h1 class="text-center" style="color: #ff10ad; margin:0;"> PARABÉNS, </h1>
  <h2 class="text-center" style="text-transform: uppercase; margin:0;"> Você tem os seguintes cupons para participar da promoção </h2>
</div>
<% @coupons.each do |coupon| %>
  <div class="coupon dashed-bottom text-center bg-pink">
    <p class="number"><%== format_coupon_number(coupon).split('').map { |digit| content_tag :span, digit }.join %></p>
    <p class="series">Série: <%= format_coupon_series(coupon) %></p>
  </div>
<% end %>

<p>
CHAINS COMERCIO DE COSMETICOS EIRELI ME. Klasme Cosmetics. CNPJ 29048820/0001-35. Rua Vergueiro, 360 - cj 605 - São Paulo/SP. Período de Participação: 11/02/2019 a 30/04/2019. Extração pela Loteria Federal em 05/06/2019. Certificado de Autorização da CEF n. xxxxxx/42018, Emissão da série em 11/02/2019. Prêmio: Viagem para a Coréia do Sul com acompanhante no valor de R$ 30.000,00 (trinta mil reais), incluindo duas passagens aéreas de ida e volta, 4 noites de hospedagem em hotel modalidade turismo com café da manhã, almoço e jantar para duas pessoas e translado de ida e volta entre o aeroporto e hotel, além de um encontro com a influencer Niina Secrets para conhecer a loja conceito da marca Mediheal.
Regulamento completo em: <%= link_to page_url(:regulamento), page_url(:regulamento) %>
</p>
<div class="footer">
  <%= link_to 'http://www.klasme.com' do %>
    <img src='<%= ENV['DEFAULT_MAILER_URL']+'coupon_footer.jpg' %>'  , style: 'width: 600px; height: auto;' >
  <% end %>
  <p>
  A promoção “CORÉIA DO SUL COM KLASME E NIINA SECRETS”, é promovida por CHAINS COMÉRCIO DE COSMÉTICOS EIRELI ME, no período compreendido entre os dias 11/02/2019 e 30/04/2019, e com extração pela Loteria Federal em 06/05/2019, com abrangência nacional, e aberta a qualquer pessoa física, maior de 18 anos, residente e domiciliada no território nacional, validamente inscrita no Cadastro de Pessoas Físicas do Ministério da Fazenda – CPF/MF. Caso o número de ordem base não encontre correspondente nos Números da Sorte enviados, pelo fato de não ter sido atribuído a nenhum participante, será considerado contemplado o Número da Sorte distribuído imediatamente superior ou, na falta deste, ao distribuído imediatamente inferior. O ganhador será comunicado sobre a premiação no prazo máximo de 5 (cinco) dias úteis, contados da data da apuração, por meio de telegrama com AR, telefonema e/ou e-mail, de acordo com os dados cadastrais do participante informados no site da promovente. O prêmio será entregue no prazo de até 30 (trinta) dias contados da divulgação do participante vencedor, na sede da empresa ou pelos correios. Não sendo encontrado o ganhador, o prazo concedido por lei para reclamar o prêmio é de 180 (cento e oitenta) dias contados a partir da data da apuração. Caso o contemplado não compareça para retirar seu prêmio nesse período, perderá direito a ele, sendo seu valor recolhido pela Promovente ao Tesouro Nacional, como renda da União, no prazo de 10 (dez) dias. As dúvidas e controvérsias originadas de reclamações dos participantes da Promoção deverão ser, preliminarmente, dirimidas pela Empresa Promovente, por meio do e-mail sac@klasme.com, e posteriormente, submetidas à Secretaria de Acompanhamento Fiscal, Energia e Loteria – SEFEL/MF, quando o interessado não optar pela reclamação diretamente aos órgãos integrantes do Sistema Nacional de Defesa do Consumidor por meio do Procon Regional. O ganhador autoriza, desde já, como consequência da conquista do seu prêmio, a utilização do seu nome, imagem e som de voz, em qualquer um dos meios escolhidos pela Promovente para divulgação desta campanha, pelo período de 1 (um) ano contado da data da apuração. Regulamento completo no site: <%= link_to page_url(:regulamento), page_url(:regulamento) %> </p>
</div>
