<!DOCTYPE html>
<html>
  <head>
    <title>Coreia do Sul com Klasme + Niina Secrets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="<%= 'inner' if !current_page?(controller: 'users/sessions', action: 'new') || current_user.present? %>">
    <div class="city-image-wrapper">
      <div class="shadow">
        <%= image_tag asset_pack_path('static/cidade.png') %>
      </div>
    </div>
    <header>
      <%= render 'shared/header' %>
    </header>
    <div class="container with-pictures">
      <%= yield %>
    </div>
    <footer class='mt-5'>
      <div>
        <%= link_to t(:terms), page_path(:regulamento) %>
      </div>
      <small>Coreia do sul com Klasme® e Niina Secrets® – 2019 Todos os direitos reservados.</small>
    </footer>
  </body>
</html>
